<!-- Footer -->

<hr>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <ul class="list-inline text-center">
          {% if site.footer.links %}
            {% for link in site.footer.links %}
              {% if link.label and link.url %}
                <li class="list-inline-item">
                  <a href="{{ link.url }}" rel="nofollow noopener noreferrer">
                    <span class="fa-stack fa-lg">
                      <i class="fas fa-circle fa-stack-2x"></i>
                      <i class="{{ link.icon }} fa-stack-1x fa-inverse" aria-hidden="true"></i>
                    </span>
                  </a>
                </li>
              {% endif %}
            {% endfor %}
          {% endif %}
          <li class="list-inline-item">
            <a href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ '/feed.xml' | relative_url }}{% endif %}">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x" aria-hidden="true"></i>
                <i class="fa-stack-1x" style="color:white">rss</i>
                <!-- <i class="fa fa-rss-square fa-stack-1x fa-inverse" aria-hidden="true"></i> -->
              </span>
            </a>
          </li>
        </ul>
        <p class="copyright text-muted">Copyright &copy; {{ site.author.name }} {{ 'now' | date: "%Y" }}</p>
      </div>
    </div>
  </div>
</footer>