---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "styles";


p {
  text-align: justify;
  text-justify: auto;
}

header.masthead .overlay {
  background-color: #2a929f;
}
header.masthead {
  background-color: #2a929f;
}