---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import "virtual-atom/skins/default";
@import "virtual-atom";

p {
  text-align: justify;
  text-justify: auto;
}

header.masthead .overlay {
  background-color: #2a929f;
}
header.masthead {
  background-color: #2a929f;
}